In [22]:
#Read all excel inputs into panda dataframes

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:

name_sector = pd.ExcelFile("MASTER_linktable_factiva_names_sectors.xlsx")
name_sector = name_sector.parse("Sheet1")
name_sector.head()

,dummy_US,match_source,naics,naics_name,name,name_matched,sector,sector_name
0,1,factiva,523130.0,Commodity Contracts Dealing,141 Capital Inc.,"141 Capital, Inc.",28,F.I.R.E.
1,0,factiva,2211.0,"Electric Power Generation, Transmission and Di...",1Malaysia Development Berhad,1Malaysia Development Berhad,26,electric & gas utilities
2,1,factiva,541511.0,Custom Computer Programming Services,3Com Corp,3Com Corp.,29,other services
3,1,factiva,445120.0,Convenience Stores,7-Eleven Inc,"7-Eleven, Inc.",27,wholesale & retail
4,1,factiva,423860.0,Transportation Equipment and Supplies (except ...,AAR Corp,AAR Corp.,27,wholesale & retail

In [25]:
ATJC = pd.ExcelFile("MASTER_company_scraper_ATJC.xlsx")
ATJC = ATJC.parse("Sheet1")
ATJC.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,Delta Air Lines Inc,38,100,11611,19970101,19970331,(the OR a OR an) and la=en and sc=atjc
1,Southern Company Inc,37,100,11611,19970101,19970331,(the OR a OR an) and la=en and sc=atjc
2,The Coca-Cola Company,30,100,11611,19970101,19970331,(the OR a OR an) and la=en and sc=atjc
3,"The Home Depot, Inc.",30,100,11611,19970101,19970331,(the OR a OR an) and la=en and sc=atjc
4,BellSouth Corp,25,100,11611,19970101,19970331,(the OR a OR an) and la=en and sc=atjc

In [26]:
BSTNGB = pd.ExcelFile("MASTER_company_scraper_BSTNGB.xlsx")
BSTNGB = BSTNGB.parse("Sheet1")
BSTNGB.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,Raytheon Company,37,100,9755,19970101,19970331,(the OR a OR an) and la=en and sc=bstngb
1,General Motors Company,17,100,9755,19970101,19970331,(the OR a OR an) and la=en and sc=bstngb
2,The Bank of New York Mellon Corporation,16,100,9755,19970101,19970331,(the OR a OR an) and la=en and sc=bstngb
3,Barnes & Noble Inc,13,100,9755,19970101,19970331,(the OR a OR an) and la=en and sc=bstngb
4,Microsoft Corporation,10,100,9755,19970101,19970331,(the OR a OR an) and la=en and sc=bstngb

In [27]:
CGAZ = pd.ExcelFile("MASTER_company_scraper_CGAZ.xlsx")
CGAZ = CGAZ.parse("Sheet1")
CGAZ.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,Norfolk Southern Corp,33,100,14249,19970101,19970331,(the OR a OR an) and la=en and sc=cgaz
1,Handy & Harman Ltd.,29,100,14249,19970101,19970331,(the OR a OR an) and la=en and sc=cgaz
2,Castelle Inc,16,100,14249,19970101,19970331,(the OR a OR an) and la=en and sc=cgaz
3,Carbo Ceramics Inc,11,100,14249,19970101,19970331,(the OR a OR an) and la=en and sc=cgaz
4,Ashland Global Holdings Inc.,10,100,14249,19970101,19970331,(the OR a OR an) and la=en and sc=cgaz

In [28]:
LVGS = pd.ExcelFile("MASTER_company_scraper_LVGS.xlsx")
LVGS = LVGS.parse("Sheet1")
LVGS.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,MGM Resorts International Inc.,51,100,6602,19970101,19970331,(the OR a OR an) and la=en and sc=lvgs
1,ITT Inc.,42,100,6602,19970101,19970331,(the OR a OR an) and la=en and sc=lvgs
2,Hilton Inc,29,100,6602,19970101,19970331,(the OR a OR an) and la=en and sc=lvgs
3,Mirant Corp,27,100,6602,19970101,19970331,(the OR a OR an) and la=en and sc=lvgs
4,Red Rock Resorts Inc.,18,100,6602,19970101,19970331,(the OR a OR an) and la=en and sc=lvgs

In [29]:
NYT = pd.ExcelFile("MASTER_company_scraper_NYT.xlsx")
NYT = NYT.parse("Sheet1")
NYT.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,Daimler AG,35,100,6394,19800401,19800630,(the OR a OR an) and la=en and sc=nytf
1,Exxon Mobil Corporation,25,100,6394,19800401,19800630,(the OR a OR an) and la=en and sc=nytf
2,Ford Motor Company,21,100,6394,19800401,19800630,(the OR a OR an) and la=en and sc=nytf
3,General Motors Company,18,100,6394,19800401,19800630,(the OR a OR an) and la=en and sc=nytf
4,General Electric Company,16,100,6394,19800401,19800630,(the OR a OR an) and la=en and sc=nytf

In [30]:
USAT = pd.ExcelFile("MASTER_company_scraper_USAT.xlsx")
USAT = USAT.parse("Sheet1")
USAT.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,Gannett Co Inc,185,100,7280,19970101,19970331,(the OR a OR an) and la=en and sc=usat
1,General Motors Company,148,100,7280,19970101,19970331,(the OR a OR an) and la=en and sc=usat
2,American Airlines Group Inc.,122,100,7280,19970101,19970331,(the OR a OR an) and la=en and sc=usat
3,Ford Motor Company,66,100,7280,19970101,19970331,(the OR a OR an) and la=en and sc=usat
4,21st Century Fox Inc.,61,100,7280,19970101,19970331,(the OR a OR an) and la=en and sc=usat

In [31]:
WSJ = pd.ExcelFile("MASTER_company_scraper_WSJ.xlsx")
WSJ = WSJ.parse("Sheet1")
WSJ.head()

,comp_name,comp_count,n_comp,n_articles,start_date,end_date,search_term
0,AT&T Corp,58,100,3703,19800101,19800331,(the OR a OR an) and la=en and sc=j
1,General Motors Company,45,100,3703,19800101,19800331,(the OR a OR an) and la=en and sc=j
2,Ford Motor Company,37,100,3703,19800101,19800331,(the OR a OR an) and la=en and sc=j
3,International Business Machines Corp.,32,100,3703,19800101,19800331,(the OR a OR an) and la=en and sc=j
4,South State Corp.,30,100,3703,19800101,19800331,(the OR a OR an) and la=en and sc=j

In [42]:
#construct whole datasets
datasets = [ATJC, BSTNGB, CGAZ, LVGS, NYT, USAT, WSJ]

In [44]:
#define constants M, K
M = len(datasets)
K = len(name_sector['name'])

In [45]:
#generate time series we want
time = WSJ["start_date"]
timeseries = np.unique(time)
print(timeseries)

T = len(timeseries)
print(T)

[19800101 19800401 19800701 19801001 19810101 19810401 19810701 19811001
 19820101 19820401 19820701 19821001 19830101 19830401 19830701 19831001
 19840101 19840401 19840701 19841001 19850101 19850401 19850701 19851001
 19860101 19860401 19860701 19861001 19870101 19870401 19870701 19871001
 19880101 19880401 19880701 19881001 19890101 19890401 19890701 19891001
 19900101 19900401 19900701 19901001 19910101 19910401 19910701 19911001
 19920101 19920401 19920701 19921001 19930101 19930401 19930701 19931001
 19940101 19940401 19940701 19941001 19950101 19950401 19950701 19951001
 19960101 19960401 19960701 19961001 19970101 19970401 19970701 19971001
 19980101 19980401 19980701 19981001 19990101 19990401 19990701 19991001
 20000101 20000401 20000701 20001001 20010101 20010401 20010701 20011001
 20020101 20020401 20020701 20021001 20030101 20030401 20030701 20031001
 20040101 20040401 20040701 20041001 20050101 20050401 20050701 20051001
 20060101 20060401 20060701 20061001 20070101 20070401 20070701 20071001
 20080101 20080401 20080701 20081001 20090101 20090401 20090701 20091001
 20100101 20100401 20100701 20101001 20110101 20110401 20110701 20111001
 20120101 20120401 20120701 20121001 20130101 20130401 20130701 20131001
 20140101 20140401 20140701 20141001 20150101 20150401 20150701 20151001
 20160101 20160401 20160701 20161001 20170101 20170401 20170701 20171001
 20180101 20180401 20180701 20181001]
156

In [109]:
# generate matrix A T x M x K
A = list(np.zeros(T))

for t in timeseries:
    t_index = list(timeseries).index(t)
    mbyk = np.zeros([M,K])
    name_list = list(name_sector['name'])
    name_matched_list = list(name_sector['name_matched'])
    i = -1
    for m in datasets:
        i += 1
#         t = 19970101
        only_t_data =m[m['start_date']==t]

#         print(len(only_t_data))
#         print(only_t_data)
        if len(only_t_data)>0:
#             print(only_t_data)
            only_t_data_name = only_t_data['comp_name']
#             print(only_t_data_name)
            for comp_name in only_t_data_name:
#                 print(comp_name)
#                 print(name_list)
                comp_count = 0
                t_comp_list = list(only_t_data['comp_name'])
                t_count_list = list(only_t_data['comp_count'])
            
                if comp_name in name_list:
                    index = t_comp_list.index(comp_name)
#                     print(index)
                    comp_count += t_count_list[index]
                    name_sector_index = name_list.index(comp_name)
                    mbyk[i][name_sector_index] = comp_count
        
                if comp_name in name_matched_list:
                    index = t_comp_list.index(comp_name)
                    comp_count += t_count_list[index]
                    name_sector_index = name_matched_list.index(comp_name)
                    mbyk[i][name_sector_index] = comp_count
                    
                    
#                 print("comp_count=" + str(comp_count))
    A[t_index]=mbyk
    array_mbyk = np.array(mbyk)
    df = pd.DataFrame(array_mbyk)
    df.columns = name_list
    df.to_csv("output"+str(t)+".csv")
    print('iteration'+str(t))
#     print(mbyk)
# print(A)
# print(len(A))

iteration19800101
iteration19800401
iteration19800701
iteration19801001
iteration19810101
iteration19810401
iteration19810701
iteration19811001
iteration19820101
iteration19820401
iteration19820701
iteration19821001
iteration19830101
iteration19830401
iteration19830701
iteration19831001
iteration19840101
iteration19840401
iteration19840701
iteration19841001
iteration19850101
iteration19850401
iteration19850701
iteration19851001
iteration19860101
iteration19860401
iteration19860701
iteration19861001
iteration19870101
iteration19870401
iteration19870701
iteration19871001
iteration19880101
iteration19880401
iteration19880701
iteration19881001
iteration19890101
iteration19890401
iteration19890701
iteration19891001
iteration19900101
iteration19900401
iteration19900701
iteration19901001
iteration19910101
iteration19910401
iteration19910701
iteration19911001
iteration19920101
iteration19920401
iteration19920701
iteration19921001
iteration19930101
iteration19930401
iteration19930701
iteration19931001
iteration19940101
iteration19940401
iteration19940701
iteration19941001
iteration19950101
iteration19950401
iteration19950701
iteration19951001
iteration19960101
iteration19960401
iteration19960701
iteration19961001
iteration19970101
iteration19970401
iteration19970701
iteration19971001
iteration19980101
iteration19980401
iteration19980701
iteration19981001
iteration19990101
iteration19990401
iteration19990701
iteration19991001
iteration20000101
iteration20000401
iteration20000701
iteration20001001
iteration20010101
iteration20010401
iteration20010701
iteration20011001
iteration20020101
iteration20020401
iteration20020701
iteration20021001
iteration20030101
iteration20030401
iteration20030701
iteration20031001
iteration20040101
iteration20040401
iteration20040701
iteration20041001
iteration20050101
iteration20050401
iteration20050701
iteration20051001
iteration20060101
iteration20060401
iteration20060701
iteration20061001
iteration20070101
iteration20070401
iteration20070701
iteration20071001
iteration20080101
iteration20080401
iteration20080701
iteration20081001
iteration20090101
iteration20090401
iteration20090701
iteration20091001
iteration20100101
iteration20100401
iteration20100701
iteration20101001
iteration20110101
iteration20110401
iteration20110701
iteration20111001
iteration20120101
iteration20120401
iteration20120701
iteration20121001
iteration20130101
iteration20130401
iteration20130701
iteration20131001
iteration20140101
iteration20140401
iteration20140701
iteration20141001
iteration20150101
iteration20150401
iteration20150701
iteration20151001
iteration20160101
iteration20160401
iteration20160701
iteration20161001
iteration20170101
iteration20170401
iteration20170701
iteration20171001
iteration20180101
iteration20180401
iteration20180701
iteration20181001

In [111]:
# arrayA = np.array(A)
# pd.DataFrame(arrayA).to_csv("output"+str(t)+".csv")

In [117]:
# Define N (number of sectors)
N = 30

In [118]:
# def corresponding sector list for comp_name list
sector_list = list(name_sector['sector'])

In [137]:
#def condition functions on m

#Returns a bool that check if matched_indices condition is satisfied.
# comp_number_list is the list for a specific company in s a single time period. The dimension of the list is mx1
# matched_indices is the indices list we want to match
# For example, matched_indices can be [1,3,4], which denote that for this company, it must satisfy certain properties for corresponding datasets
# bounded_value is the cut-off constant c that we want comp_number_list[i-1] > c for all i in matched_indices. Note we take i-1 because list starts with list[0]
def matched_indices_condition(comp_number_list, bounded_value=0, matched_indices=[]):
    b = True
    for i in matched_indices:
        s = i-1
#         print(comp_number_list)
        new = comp_number_list[s] > bounded_value
        b = b and new
    return b

#Again returns a bool. Now we want at least total_number in comp_number_list to be greater than bounded value.
def total_number_condition(comp_number_list, bounded_value=0, total_number=1):
    count=0
    for comp_number in comp_number_list:
        if comp_number>bounded_value:
            count+=1
    return count>= bounded_value

# functions work on a single time period t. E.g, t=19800101. 
# Returns 1xN array D where D[i] counts for the corresponding satisfing number for sector i
def single_period_func(time,bounded_value=0, matched_indices=[],total_number=1):
    array = np.zeros(N)
    df = pd.read_csv("output"+str(time)+".csv")
    for comp in name_list:
        comp_dataframe = df[str(comp)]
#         print(comp_dataframe)
        comp_number_list = list(comp_dataframe)
        
        trueA = matched_indices_condition(comp_number_list, bounded_value, matched_indices)
        trueB = total_number_condition(comp_number_list, bounded_value, total_number)
        if trueA and trueB:
            index = name_list.index(comp)
            sector = sector_list[index]
            array[sector-1] += sum(comp_number_list)
    return array

#Returns TxN matrix A for all time periods where A[t][n] is the the number for sector n in time t
def all_period_func(bounded_value=0, matched_indices=[], total_number=1):
    A = []
    for time in timeseries:
        array = single_period_func(time,bounded_value, matched_indices,total_number)
        A.append(array)
        print(time)
    return A

In [139]:
A =  all_period_func()
arrayA = np.array(A)
df = pd.DataFrame(arrayA)
print(df)

sec_list=[]
for i in range(N):
    sec_list.append('sector'+str(i+1))
df.columns = sec_list
df.to_csv("output_matrix_A.csv")

       0      1      2      3      4      5     6    7     8     9    ...    \
0     0.0   28.0   76.0    0.0   36.0    0.0   0.0  0.0   0.0  10.0   ...
1     0.0   27.0   63.0   19.0   42.0    0.0   0.0  0.0   0.0   7.0   ...
2     0.0   49.0  146.0   50.0   74.0    0.0   0.0  0.0   0.0  15.0   ...
3     0.0   73.0  101.0   31.0  111.0    0.0   0.0  0.0   0.0   0.0   ...
4     5.0   47.0   69.0   51.0   51.0    0.0   0.0  0.0   0.0   9.0   ...
5     0.0   51.0  114.0   21.0  112.0    5.0   0.0  0.0   0.0   0.0   ...
6     0.0   33.0  148.0   36.0  169.0    0.0   0.0  0.0   0.0   0.0   ...
7     0.0  121.0  321.0   28.0  108.0    7.0   0.0  0.0   0.0   9.0   ...
8     0.0   73.0  128.0   31.0  166.0    9.0   0.0  0.0   0.0  22.0   ...
9     0.0   58.0  103.0   52.0  116.0    6.0   0.0  0.0   0.0   0.0   ...
10    0.0   32.0  156.0   53.0  166.0    0.0   0.0  0.0   0.0   8.0   ...
11    0.0   38.0   91.0   29.0  162.0   28.0   0.0  0.0   0.0  26.0   ...
12    0.0   42.0  124.0   42.0  121.0    0.0   0.0  0.0   0.0  12.0   ...
13   15.0   42.0  101.0   24.0  194.0    0.0   7.0  0.0   0.0   9.0   ...
14   16.0   38.0   96.0   18.0  189.0    0.0   5.0  5.0   0.0   0.0   ...
15    0.0   51.0   70.0   69.0  113.0    0.0   0.0  0.0   0.0  14.0   ...
16    0.0   87.0  234.0  130.0  165.0    0.0   0.0  0.0  19.0   0.0   ...
17    0.0   46.0  225.0   47.0  193.0    0.0   0.0  0.0   0.0   0.0   ...
18    0.0   49.0  153.0   76.0  177.0    0.0   0.0  0.0   0.0  25.0   ...
19    0.0   61.0  158.0   82.0  200.0    0.0  13.0  0.0   0.0  15.0   ...
20   14.0   53.0  175.0   72.0  134.0    0.0  21.0  0.0   0.0  27.0   ...
21    0.0   41.0  283.0   83.0  232.0    0.0   0.0  0.0   0.0  47.0   ...
22    0.0   38.0  148.0   53.0  321.0    0.0  17.0  0.0   0.0  35.0   ...
23    0.0   53.0  191.0   92.0  250.0    0.0  13.0  0.0   0.0   0.0   ...
24    0.0   50.0  218.0   92.0  279.0    0.0   0.0  0.0   0.0  10.0   ...
25    0.0   42.0  162.0   50.0  252.0    0.0  10.0  0.0   0.0   0.0   ...
26   19.0   81.0   95.0   41.0  297.0    0.0  19.0  0.0   0.0  19.0   ...
27    0.0   60.0   80.0   36.0  248.0    0.0   0.0  0.0   0.0   0.0   ...
28    0.0   29.0   90.0   42.0  206.0    0.0   0.0  0.0   0.0   0.0   ...
29    0.0   34.0  117.0   82.0  132.0   30.0   0.0  0.0   0.0   0.0   ...
..    ...    ...    ...    ...    ...    ...   ...  ...   ...   ...   ...
126   3.0   86.0  109.0   23.0   31.0   51.0   2.0  0.0   0.0   0.0   ...
127   0.0   71.0   85.0   27.0   20.0   67.0   3.0  0.0   0.0   0.0   ...
128   0.0   86.0  141.0   34.0   79.0   77.0  15.0  0.0   0.0   0.0   ...
129   0.0   82.0  236.0    5.0   80.0   80.0  10.0  0.0   0.0   0.0   ...
130   0.0  119.0  159.0   42.0   42.0  105.0  17.0  0.0   0.0   6.0   ...
131   0.0   44.0  128.0   72.0  136.0   72.0  12.0  0.0   0.0   0.0   ...
132   0.0  103.0  167.0    9.0  162.0   77.0   9.0  0.0   0.0   0.0   ...
133   3.0  142.0   56.0   14.0   79.0    7.0   5.0  0.0   0.0   0.0   ...
134   0.0  110.0   72.0   26.0   45.0    0.0   0.0  0.0   0.0   0.0   ...
135   0.0   21.0   75.0   13.0   30.0    0.0   0.0  0.0   0.0   0.0   ...
136   0.0   43.0   56.0   29.0   32.0    0.0   0.0  0.0   0.0   0.0   ...
137   0.0   61.0   89.0   21.0   84.0    0.0  12.0  0.0   0.0   0.0   ...
138   0.0   44.0   21.0   18.0   21.0    0.0  37.0  0.0   0.0   0.0   ...
139   0.0   72.0   14.0    8.0    6.0    0.0   0.0  0.0   0.0   0.0   ...
140   0.0   24.0   42.0   85.0   43.0    0.0   5.0  0.0   0.0   6.0   ...
141   0.0   60.0   98.0   65.0   10.0    0.0  13.0  0.0   0.0   0.0   ...
142   0.0   98.0   57.0   36.0   97.0    0.0   6.0  0.0   0.0   0.0   ...
143   0.0   91.0   30.0   15.0  110.0    0.0  23.0  0.0   0.0   0.0   ...
144   0.0   16.0   60.0   35.0   38.0    0.0   4.0  0.0   0.0   0.0   ...
145   0.0   25.0   43.0   28.0   32.0    0.0   0.0  0.0   0.0   0.0   ...
146   3.0    6.0    0.0   13.0   48.0    0.0   0.0  0.0   0.0   0.0   ...
147   0.0    0.0   26.0   23.0   28.0    0.0  10.0  0.0   0.0   0.0   ...
148   0.0    4.0   13.0   10.0   27.0    0.0   0.0  0.0   0.0   6.0   ...
149   0.0   10.0    5.0    7.0   47.0    0.0   0.0  0.0   0.0   0.0   ...
150   0.0    0.0   40.0    8.0   23.0    0.0  11.0  0.0   0.0   0.0   ...
151   0.0    5.0   42.0    8.0   15.0    0.0   0.0  0.0   0.0   0.0   ...
152   0.0    0.0   35.0   26.0    8.0    0.0   4.0  0.0   0.0   0.0   ...
153   0.0    4.0   20.0   50.0   13.0    0.0   6.0  0.0   0.0   0.0   ...
154   0.0    9.0   10.0   38.0   42.0    0.0  25.0  0.0   0.0   0.0   ...
155   0.0    4.0    5.0   40.0   53.0    0.0   0.0  0.0   0.0   0.0   ...

        20     21     22      23      24     25     26      27      28      29
0     48.0   24.0   21.0    20.0    76.0   84.0   40.0   246.0    54.0     0.0
1     40.0   32.0   43.0   110.0    93.0   37.0   76.0   270.0    68.0     7.0
2     71.0   44.0   54.0   212.0   227.0  117.0   98.0   608.0   104.0    19.0
3    108.0   86.0   38.0   240.0   228.0  187.0  130.0   510.0   192.0    16.0
4     93.0   65.0   35.0   243.0   235.0   95.0  114.0   726.0   192.0    14.0
5    112.0   90.0   52.0   230.0   273.0  156.0  143.0   752.0   286.0    12.0
6     94.0  133.0   45.0   298.0   312.0  149.0  130.0   754.0   238.0     0.0
7     97.0  116.0   63.0   237.0   231.0   67.0  125.0   727.0   241.0     0.0
8     95.0   74.0   54.0   192.0   266.0   95.0  173.0   686.0   356.0     0.0
9     98.0   89.0   92.0   250.0   323.0   60.0  115.0   830.0   360.0     0.0
10   183.0  164.0   93.0   126.0   193.0   87.0  110.0   872.0   381.0     9.0
11    88.0   77.0   52.0   211.0   212.0   89.0  116.0   816.0   288.0     8.0
12    94.0  147.0   60.0   219.0   223.0   72.0  100.0   872.0   312.0     0.0
13    98.0  110.0   44.0   130.0   245.0  164.0  142.0   973.0   398.0     0.0
14   109.0  139.0   48.0   423.0   243.0  209.0  172.0   914.0   328.0     0.0
15   112.0  164.0   83.0   327.0   308.0   86.0  141.0   996.0   376.0     0.0
16   212.0  241.0  174.0   339.0   386.0  152.0  315.0  1569.0   417.0     0.0
17   133.0  193.0  185.0   273.0   296.0  111.0  424.0  1742.0   571.0    10.0
18   205.0  249.0  107.0   366.0   290.0   96.0  288.0  1619.0   577.0     0.0
19   232.0  245.0  148.0   238.0   328.0   35.0  218.0  1577.0   477.0     0.0
20   230.0  233.0  126.0   297.0   301.0   12.0  178.0  1441.0   505.0    14.0
21   266.0  259.0  181.0   557.0   352.0   15.0  184.0  1624.0   663.0     0.0
22   247.0  168.0  108.0   469.0   335.0   58.0  171.0  1442.0   511.0     0.0
23   230.0  171.0  118.0   362.0   377.0   45.0  178.0  1442.0   444.0     0.0
24   197.0  141.0  112.0   474.0   310.0   41.0  202.0  1539.0   344.0     0.0
25   157.0  130.0  115.0   248.0   325.0   33.0  249.0  1458.0   598.0     0.0
26   305.0  130.0  139.0   440.0   253.0   47.0  259.0  1606.0   607.0     0.0
27   216.0  104.0  179.0   394.0   401.0   18.0  282.0  1662.0   704.0     0.0
28   199.0  144.0  175.0   393.0   327.0   40.0  121.0  1351.0   432.0    10.0
29   271.0  170.0  224.0   484.0   271.0   17.0  178.0  1552.0   608.0     9.0
..     ...    ...    ...     ...     ...    ...    ...     ...     ...     ...
126   87.0  607.0   51.0   551.0  1790.0  187.0  365.0  2065.0  1406.0  1060.0
127   76.0  629.0   41.0   557.0  1406.0  154.0  568.0  2008.0  1797.0   996.0
128   53.0  618.0   33.0   533.0  1227.0  173.0  440.0  1950.0  1835.0  1062.0
129   92.0  558.0   56.0   493.0  1212.0  311.0  409.0  2147.0  1516.0  1760.0
130  141.0  750.0   55.0   325.0  1149.0  294.0  540.0  1684.0  1823.0  1286.0
131  159.0  529.0   46.0   396.0  1435.0  177.0  668.0  1521.0  1928.0  1072.0
132  228.0  620.0   40.0   481.0  1148.0  123.0  373.0  1437.0  1568.0  1301.0
133  139.0  464.0   37.0   183.0  1232.0  237.0  321.0   977.0  1974.0  1638.0
134  144.0  600.0   42.0   376.0  1052.0  172.0  359.0  1259.0  1817.0  1299.0
135  121.0  362.0   19.0   421.0   980.0   83.0  509.0  1208.0  2090.0  1281.0
136  118.0  366.0   15.0   379.0  1150.0  383.0  409.0  1006.0  1919.0  1215.0
137  169.0  418.0  163.0   347.0  1027.0  222.0  494.0  1040.0  1806.0  1201.0
138   84.0  357.0   23.0   517.0   828.0  162.0  793.0   982.0  1619.0  1261.0
139   46.0  459.0    7.0   607.0   881.0  108.0  468.0   827.0  2041.0  1340.0
140   71.0  369.0   26.0   637.0   784.0  174.0  352.0   850.0  1886.0  1363.0
141   88.0  259.0   38.0   567.0   917.0  302.0  350.0  1176.0  1846.0  1344.0
142   91.0  328.0   28.0   939.0   594.0  286.0  414.0   964.0  1581.0  1407.0
143   38.0  305.0   45.0   663.0  1017.0  119.0  466.0   886.0  1970.0  1154.0
144   82.0  499.0  145.0  1144.0   755.0   62.0  412.0   809.0  2747.0  1415.0
145  105.0  276.0   85.0  1184.0   842.0  122.0  484.0   649.0  2646.0  1407.0
146  110.0  402.0   63.0  1339.0   850.0  130.0  385.0   880.0  2125.0  1407.0
147  130.0  290.0   69.0   915.0   894.0   82.0  418.0   782.0  2393.0  1195.0
148   76.0  222.0   68.0  1430.0   789.0   98.0  468.0   741.0  2333.0  1689.0
149   81.0  275.0   58.0  2025.0   742.0   55.0  653.0   639.0  1897.0  1776.0
150   57.0  265.0   67.0  1202.0   700.0  143.0  749.0   473.0  1921.0  1539.0
151  105.0  243.0   64.0   896.0  1001.0  120.0  894.0   478.0  2296.0  1775.0
152  108.0  352.0   41.0   999.0   887.0  136.0  778.0   525.0  2382.0  1744.0
153   57.0  217.0   44.0   860.0  1193.0   92.0  690.0   494.0  2212.0  1879.0
154   66.0  215.0   12.0   812.0   845.0  175.0  526.0   460.0  1744.0  1831.0
155   83.0  203.0   65.0   667.0   644.0  202.0  862.0   431.0  1919.0  1583.0

[156 rows x 30 columns]

In [140]:
B = all_period_func(100)
arrayB = np.array(B)
df = pd.DataFrame(arrayB)
print(df)

sec_list=[]
for i in range(N):
    sec_list.append('sector'+str(i+1))
df.columns = sec_list
df.to_csv("output_matrix_B.csv")

      0    1    2    3    4    5    6    7    8    9  ...    20   21   22  \
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
5    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
6    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
7    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
8    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
9    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
10   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
11   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
12   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
13   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
14   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
15   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
16   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
17   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
18   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
19   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
20   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
21   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
22   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
23   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
24   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
25   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
26   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
27   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
28   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
29   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ... ...   ...  ...  ...
126  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
127  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
129  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
130  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
131  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
132  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
133  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
134  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
135  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
136  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
137  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
138  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
139  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
140  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
141  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
142  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
143  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
144  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
145  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
146  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
147  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
148  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
149  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
150  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
151  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
152  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
153  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
154  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0
155  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0  0.0  0.0

      23   24   25   26   27   28   29
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0
5    0.0  0.0  0.0  0.0  0.0  0.0  0.0
6    0.0  0.0  0.0  0.0  0.0  0.0  0.0
7    0.0  0.0  0.0  0.0  0.0  0.0  0.0
8    0.0  0.0  0.0  0.0  0.0  0.0  0.0
9    0.0  0.0  0.0  0.0  0.0  0.0  0.0
10   0.0  0.0  0.0  0.0  0.0  0.0  0.0
11   0.0  0.0  0.0  0.0  0.0  0.0  0.0
12   0.0  0.0  0.0  0.0  0.0  0.0  0.0
13   0.0  0.0  0.0  0.0  0.0  0.0  0.0
14   0.0  0.0  0.0  0.0  0.0  0.0  0.0
15   0.0  0.0  0.0  0.0  0.0  0.0  0.0
16   0.0  0.0  0.0  0.0  0.0  0.0  0.0
17   0.0  0.0  0.0  0.0  0.0  0.0  0.0
18   0.0  0.0  0.0  0.0  0.0  0.0  0.0
19   0.0  0.0  0.0  0.0  0.0  0.0  0.0
20   0.0  0.0  0.0  0.0  0.0  0.0  0.0
21   0.0  0.0  0.0  0.0  0.0  0.0  0.0
22   0.0  0.0  0.0  0.0  0.0  0.0  0.0
23   0.0  0.0  0.0  0.0  0.0  0.0  0.0
24   0.0  0.0  0.0  0.0  0.0  0.0  0.0
25   0.0  0.0  0.0  0.0  0.0  0.0  0.0
26   0.0  0.0  0.0  0.0  0.0  0.0  0.0
27   0.0  0.0  0.0  0.0  0.0  0.0  0.0
28   0.0  0.0  0.0  0.0  0.0  0.0  0.0
29   0.0  0.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
126  0.0  0.0  0.0  0.0  0.0  0.0  0.0
127  0.0  0.0  0.0  0.0  0.0  0.0  0.0
128  0.0  0.0  0.0  0.0  0.0  0.0  0.0
129  0.0  0.0  0.0  0.0  0.0  0.0  0.0
130  0.0  0.0  0.0  0.0  0.0  0.0  0.0
131  0.0  0.0  0.0  0.0  0.0  0.0  0.0
132  0.0  0.0  0.0  0.0  0.0  0.0  0.0
133  0.0  0.0  0.0  0.0  0.0  0.0  0.0
134  0.0  0.0  0.0  0.0  0.0  0.0  0.0
135  0.0  0.0  0.0  0.0  0.0  0.0  0.0
136  0.0  0.0  0.0  0.0  0.0  0.0  0.0
137  0.0  0.0  0.0  0.0  0.0  0.0  0.0
138  0.0  0.0  0.0  0.0  0.0  0.0  0.0
139  0.0  0.0  0.0  0.0  0.0  0.0  0.0
140  0.0  0.0  0.0  0.0  0.0  0.0  0.0
141  0.0  0.0  0.0  0.0  0.0  0.0  0.0
142  0.0  0.0  0.0  0.0  0.0  0.0  0.0
143  0.0  0.0  0.0  0.0  0.0  0.0  0.0
144  0.0  0.0  0.0  0.0  0.0  0.0  0.0
145  0.0  0.0  0.0  0.0  0.0  0.0  0.0
146  0.0  0.0  0.0  0.0  0.0  0.0  0.0
147  0.0  0.0  0.0  0.0  0.0  0.0  0.0
148  0.0  0.0  0.0  0.0  0.0  0.0  0.0
149  0.0  0.0  0.0  0.0  0.0  0.0  0.0
150  0.0  0.0  0.0  0.0  0.0  0.0  0.0
151  0.0  0.0  0.0  0.0  0.0  0.0  0.0
152  0.0  0.0  0.0  0.0  0.0  0.0  0.0
153  0.0  0.0  0.0  0.0  0.0  0.0  0.0
154  0.0  0.0  0.0  0.0  0.0  0.0  0.0
155  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[156 rows x 30 columns]

In [142]:
C = all_period_func(0,[1,2,3])
arrayC = np.array(C)
df = pd.DataFrame(arrayC)
print(df)

sec_list=[]
for i in range(N):
    sec_list.append('sector'+str(i+1))
df.columns = sec_list
df.to_csv("output_matrix_C.csv")

      0    1    2    3     4    5    6    7    8    9    ...      20     21  \
0    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
1    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
2    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
3    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
4    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
5    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
6    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
7    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
8    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
9    0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
10   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
11   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
12   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
13   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
14   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
15   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
16   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
17   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
18   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
19   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
20   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
21   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
22   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
23   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
24   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
25   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
26   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
27   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
28   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
29   0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
..   ...  ...  ...  ...   ...  ...  ...  ...  ...  ...   ...     ...    ...
126  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
127  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  361.0
128  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  421.0
129  0.0  0.0  0.0  0.0  41.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
130  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  461.0
131  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
132  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
133  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
134  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  276.0
135  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  223.0
136  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
137  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
138  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  249.0
139  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  150.0
140  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
141  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
142  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
143  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
144  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  384.0
145  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
146  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
147  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...    68.0  155.0
148  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
149  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
150  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
151  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
152  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0  127.0
153  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
154  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0
155  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0    0.0

      22      23     24   25     26     27     28      29
0    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
1    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
2    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
3    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
4    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
5    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
6    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
7    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
8    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
9    0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
10   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
11   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
12   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
13   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
14   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
15   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
16   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
17   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
18   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
19   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
20   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
21   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
22   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
23   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
24   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
25   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
26   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
27   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
28   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
29   0.0     0.0    0.0  0.0    0.0    0.0    0.0     0.0
..   ...     ...    ...  ...    ...    ...    ...     ...
126  0.0   112.0  429.0  0.0   89.0    0.0  276.0   424.0
127  0.0   130.0  111.0  0.0  121.0  234.0  422.0   124.0
128  0.0    60.0   91.0  0.0  206.0  293.0  418.0   394.0
129  0.0     0.0  288.0  0.0  162.0  520.0   47.0   790.0
130  0.0     0.0  449.0  0.0  118.0    0.0   98.0   431.0
131  0.0     0.0    0.0  0.0  373.0    0.0  576.0   246.0
132  0.0    94.0  145.0  0.0  263.0    0.0  259.0   360.0
133  0.0    40.0  142.0  0.0    0.0    0.0   54.0   787.0
134  0.0     0.0    0.0  0.0  176.0    0.0  234.0    78.0
135  0.0     0.0  118.0  0.0  119.0    0.0  300.0   606.0
136  0.0     0.0  150.0  0.0   91.0    0.0  373.0   279.0
137  0.0    64.0  185.0  0.0  309.0    0.0    0.0   214.0
138  0.0     0.0    0.0  0.0   50.0    0.0   44.0   217.0
139  0.0     0.0  108.0  0.0   80.0    0.0  322.0   292.0
140  0.0   414.0    0.0  0.0    0.0    0.0  197.0   406.0
141  0.0    54.0    0.0  0.0    0.0    0.0   60.0   225.0
142  0.0   768.0    0.0  0.0  206.0    0.0    0.0   646.0
143  0.0     0.0  536.0  0.0   97.0    0.0    0.0   418.0
144  0.0   810.0    0.0  0.0    0.0    0.0  150.0   625.0
145  0.0     0.0    0.0  0.0    0.0    0.0    0.0   682.0
146  0.0  1104.0    0.0  0.0    0.0    0.0  190.0   454.0
147  0.0     0.0    0.0  0.0    0.0    0.0  312.0   389.0
148  0.0  1182.0    0.0  0.0    0.0    0.0  258.0   744.0
149  0.0   178.0    0.0  0.0  434.0    0.0    0.0   907.0
150  0.0  1080.0    0.0  0.0  498.0    0.0  179.0   357.0
151  0.0     0.0  180.0  0.0  656.0    0.0  385.0   796.0
152  0.0     0.0  366.0  0.0  532.0    0.0  239.0   731.0
153  0.0     0.0  453.0  0.0  508.0    0.0    0.0   741.0
154  0.0     0.0  121.0  0.0  350.0    0.0   34.0  1092.0
155  0.0     0.0  114.0  0.0  584.0    0.0  329.0   854.0

[156 rows x 30 columns]